{{!-- Landing Header --}}
<section>
    <section id="spages-landing-header">
        <div class="spages-landing-header-content">
            <img src="/assets/images/spages-illustrations/stem-bulb.svg" alt="an illustration of a lightbulb with the STEM-Away Logo branded upon it.">
            <h1>Be a part of the STEM Revolution</h1>
            <h3>The Level Playing Field in STEM. A career hub for students and junior professionals</h3>
            <ul class="spages-list-unstyled spages-header-nav">
                <li><a class="spages-header-btn" href="https://stemaway.com/">Student Portal</a></li>
                <li><a class="spages-header-btn" href="../pages/company/">Company Portal</a></li>
                <li><a class="spages-header-btn" href="#how-it-works">How it Works</a></li>
                <li><a class="spages-header-btn" href="#team">About Us</a></li>
            </ul>
        </div>
    </section>
    <div class="spages-wave-svg">
        {{!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
            <path fill="#edf2e9" fill-opacity="1"
                d="M0,128L120,133.3C240,139,480,149,720,133.3C960,117,1200,75,1320,53.3L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">
            </path>
        </svg> --}}
    </div>
</section>

{{!-- Features --}}
<section class="spages-fluid" id="spages-stem-features">
    <div class="spages-jumbotron-centered-sm">
        <div class="spages-header-portion spages-align-center spages-text-adjust">
            <h2>It's about real world STEM success</h2>
            <p class="spages-w-50 spages-color-light-gray">At STEM-Away&reg;, we are passionate about helping students discover
                the potential &amp; beauty of STEM, the
                joy of problem-solving and a STEM career that resonates with them. Career tools are free for students.
            </p>
        </div>
        <div class="spages-card-portion">

            {{!-- Virtual Internship Card --}}
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image">
                    <img src="/assets/images/spages-icons/mentor-chains-icon.svg" alt="a vector image of a paper with a protractor">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title"><a target="_blank" href="https://stemaway.com/t/placeholder-info/6967">Virtual Internships</a></h6>
                    <p class="spages-card-content">
                        Experience via Mentor Chains&reg; Projects
                    </p>
                </div>
            </div>

            {{!-- STEMCasts Card --}}
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image">
                    <img src="/assets/images/spages-icons/stem-casts-icon.svg" alt="a vector image of a laptop with a video icon">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title"><a target="_blank" href="https://stemaway.com/t/placeholder-info-post/6968">STEMCasts&reg;</a></h6>
                    <p class="spages-card-content">
                        Project Specific Learning Resources
                    </p>
                </div>
            </div>

            {{!-- 1-Click Resume Card --}}
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image">
                    <img src="/assets/images/spages-icons/1-click-resume-icon.svg" alt="a vector image of a resume being clicked with a cursor">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title"><a target="_blank" href="https://stemaway.com/t/placeholder-info/6969">1-Click Resume&reg;</a></h6>
                    <p class="spages-card-content">
                        Dynamic STEM Portfolio
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

{{!-- Testimonials --}}
<section class="spages-jumbotron spages-text-adjust" id="spages-stem-testimonials">
    <h2>Testimonials</h2>
    <div class="spages-testimonial-tabs">
        {{!-- Michael's Testimonial --}}
        <div class="spages-testimonial-tab">
            <input type="radio" id="spages-testimonial-tab-1" name="spages-testimonial-tab-group-1" checked>
            <label for="spages-testimonial-tab-1">
                <img src="/assets/images/spages-team-profile/michael.jpg" alt="a photograph representing Michael Greene who provided a testimonial for STEM-Away" class="spages-testimonial-image">
                <div class="spages-flex-tab-content">
                    <h5>Michael Greene</h5>
                    <h6>Vice President, Intel</h6>
                </div>
            </label>
            <div class="spages-testimonial-content">
                <h3>Real work with results</h3>
                <p>That is what makes me so excited about the presentation today. I get to see what you have already
                    done. What you have accomplished with the STEM-Away approach. If you are interviewing, nothing
                    more powerful than I have done real work, here are the results.</p>
                <a target="_blank"
                    href="https://stemaway.com/t/visit-from-michael-greene-vice-president-of-software-development-business-strategy-at-intel-highlights/6559">View
                    Forum Post</a>
            </div>
        </div>
        {{!-- Mentor Chains Students 2020 Testimonial --}}
        <div class="spages-testimonial-tab">
            <input type="radio" id="spages-testimonial-tab-2" name="spages-testimonial-tab-group-1">
            <label for="spages-testimonial-tab-2">
                <img src="/assets/images/spages-team-profile/group.jpg" alt="an illustration representing a group of people" class="spages-testimonial-image">
                <div class="spages-flex-tab-content">
                    <h5>Kristen &amp; Jeremy</h5>
                    <h6>Mentor Chains&reg; Students 2020</h6>
                </div>
            </label>
            <div class="spages-testimonial-content">
                <h3>Kristen Johanson</h3>
                <p><q>It is the things in life that we don’t do, that we tend to regret more than the things we do do. I am glad I did the internship. Otherwise I would have missed out on a lot of learning and contacts with some really cool people…</q></p>
                <h3>Jeremy Osborne</h3>
                <p><q>Life long memories, life long friends, that is my motto from STEM-Away Summer 2020!</q></p>
                <a target="_blank"
                    href="https://stemaway.com/t/in-conversation-with-kristen-johanson-hosted-by-jeremy-osborne/6593">View
                    Forum Post</a>
            </div>
        </div>
        {{!-- Chris Volar's Testimonial --}}
        <div class="spages-testimonial-tab">
            <input type="radio" id="spages-testimonial-tab-3" name="spages-testimonial-tab-group-1">
            <label for="spages-testimonial-tab-3">

                <img src="/assets/images/spages-team-profile/chris.jpg" alt="a headshot image of former student Chris Volar" class="spages-testimonial-image">
                <div class="spages-flex-tab-content">
                    <h5>Chris Volar</h5>
                    <h6>Mentor Chains&reg; Student 2019</h6>
                </div>
            </label>
            <div class="spages-testimonial-content">
                <h3>Why did I want to be part of STEM-Away?</h3>
                <p>I watched the introduction video from the founder Debaleena Das and knew I wanted to meet her in person to join the revolution. I call it a revolution because I believe that STEM-Away can truly level the playing field for everyone interested in the STEM fields. As a student of color, I sometimes face additional challenges, and so I understand the need for this platform...</p>
                <a target="_blank"
                    href="https://stemaway.com/t/why-did-i-want-to-be-a-part-of-stem-away/447">View
                    Forum Post</a>
            </div>
        </div>
    </div>
</section>

<section class="spages-testimonials-mobile">
    <table>
  <caption>Testimonials</caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><img src="/assets/images/spages-team-profile/michael.jpg" alt="a photograph of Michael Greene, Vice President of Intel" class="spages-testimonial-image-mobile"></td>
      <td><strong>Michael Greene - Vice President, Intel</strong></td>
      <td><p>That is what makes me so excited about the presentation today. I get to see what you have already done...</p></td>
      <td><a class="spages-testiominals-mobile-btn" href="">View Forum Post</a></td>
    </tr>
    <tr>
        <td><img src="/assets/images/spages-team-profile/group.jpg" alt="an illustration representing a group of people" class="spages-testimonial-image-mobile"></td>
        <td><strong>Kristen &amp; Jeremy - Mentor Chains&reg; Students 2020</strong></td>
        <td><p>It is the things in life that we don’t do, that we tend to regret more than the things we do do...</p></td>
        <td><a class="spages-testiominals-mobile-btn" href="">View Forum Post</a></td>
    </tr>
    <tr>
        <td><img src="/assets/images/spages-team-profile/chris.jpg" alt="an photograph Chris Volar, a STEM-Away Student" class="spages-testimonial-image-mobile"></td>
        <td><strong>Chris Volar - Mentor Chains&reg; Student 2019</strong></td>
        <td>As a student of color, I sometimes face additional challenges, and so I understand the need for this platform...</td>
        <td><a class="spages-testiominals-mobile-btn" href="">View Forum Post</a></td>
    </tr>
  </tbody>
</table>
</section>

{{!-- Info Blocks --}}
<section class="text-adjust" id="how-it-works">
    <h2>How It Works</h2>
    <div class="spages-info-blocks-tabbed">
        <input type="radio" id="spages-stem-member-tab1" name="spages-css-tabs" checked>
        <input type="radio" id="spages-stem-member-tab2" name="spages-css-tabs">

        <ul class="spages-info-blocks-tabs">
            <li class="spages-info-blocks-tab"><label for="spages-stem-member-tab1">STEM-Away&reg; Member</label></li>
            <li class="spages-info-blocks-tab"><label for="spages-stem-member-tab2">STEM-Away&reg; Partner</label></li>
        </ul>
        
        {{!-- Member Blocks--}}
        <div class="spages-info-blocks-tab-content">
        
            <div class="spages-info-grid">
                {{!-- The STEM-Away Solution --}}
                <h4>The STEM-Away&reg; Solution</h4>
                {{!-- Build your Skills Portfolio --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step04-alt.svg" alt="an image of a person holding a tablet with charts on the screen">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Build skills portfolio</h3>
                            <p>Train for virtual-internships. Join internships. Sharpen the technical &amp; soft skills that companies are seeking in candidates.</p>
                        </div>
                    </div>
                </div>
                {{!-- Get Noticed --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step08.png" alt="an illustration of a group of people at a convention">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Get noticed</h3>
                            <p>Benefit from skill-centric resume builder and hiring tools. Present at invite-only demo days after internship sessions.</p>
                        </div>
                    </div>
                </div>
                {{!-- Jumpstart your network --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step06.png" alt="an illustration of two people chatting">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Jumpstart your network</h3>
                            <p>Join STEM-Away® stations and virtual-internships. Build many meaningful connections with mentors, mentees and peers.</p>
                        </div>
                    </div>
                </div>
                {{!-- Give and get guidance --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step05.png" alt="an illustration of an interview session">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Give and get guidance</h3>
                            <p>Mentor Corner. Nuanced guidance on high school to college transition, college navigation, college to career transition.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spages-info-grid">

                {{!-- The STEM-Away Career Pathway --}}
                <h4>The STEM-Away&reg; Career Pathway</h4>

                {{!-- Step 1 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 1</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step02.png" alt="an image of a virtual conferance">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>STEMCasts&reg;</h3>
                            <p>Virtual-internship specific learning resources. Dive deeper into career pathways that resonate with you. Explore new ones.</p>
                        </div>
                    </div>
                </div>

                {{!-- Step 2 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 2</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/stations.png" alt="an illustration of four people talking at a table">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Stations</h3>
                            <p>Mentor-led pathway centric discussions. Train for upcoming virtual-internship sessions. Refresh skills acquired in past sessions.</p>
                        </div>
                    </div>
                </div>

                {{!-- Step 3 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 3</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step03.png" alt="an illustration of people talking at a table">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Virtual-Internships</h3>
                            <p>Experience via Mentor Chains&reg; Projects. Get the technical boost and real-life experience you need to succeed in your careers. </p>
                        </div>
                    </div>
                </div>

                {{!-- Step 4 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 4</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/member/step04.png" alt="an illustration of a person holding a chart">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>1-Click&reg; Resume</h3>
                            <p>A living resume, tag your posts with skills to connect to your resume. Effortlessly apply for internships &amp; entry level positions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spages-info-blocks-tab-content">

            <div class="spages-info-grid">
                <h4>The STEM-Away&reg; Solution</h4>

                {{!-- Expand your talent search --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step01.svg" alt="an illustration of two people shaking hands">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Expand your talent search</h3>
                            <p>Tap into an <em>active</em> talent pool from over 100 colleges. Use the STEM-Away® tools to find the right candidate.</p>
                        </div>
                    </div>
                </div>

                {{!-- Create the pipeline you need --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step05.svg" alt="an illustration of two people talking at a desk">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Create the pipeline you need</h3>
                            <p>Become a preferred partner. We will run virtual-internship projects aligned with your company needs. </p>
                        </div>
                    </div>
                </div>

                {{!-- Build relationships  --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/demoday.svg" alt="a group of people at a conferance">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Build relationships</h3>
                            <p>Attend invite-only virtual-internship demo days. Find talent. Build relationships with multiple colleges.</p>
                        </div>
                    </div>
                </div>

                {{!-- Boost brand awareness  --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/marketing.svg" alt="an illustration of a megaphone coming out of a computer">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Boost brand awareness</h3>
                            <p>Increase brand awareness among students. Benefit from work-ready STEM talent that identifies with your company.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spages-info-grid">
                <h4>The STEM-Away&reg; Hiring Portal</h4>
                {{!-- Step 1 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 1</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step02.svg" alt="an illustration of a browser on a search"anm>
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Search</h3>
                            <p>Use weighted-skills based search algorithms to find suitable candidates. Reduce bias, meet your <abbr title="Diversity, Equity, Inclusion">DEI</abbr> objectives.</p>
                        </div>
                    </div>
                </div>

                {{!-- Step 2 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 2</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step06.svg" alt="an illustration of a woman checking off items in a checklist">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Review</h3>
                            <p>View skills &amp; supporting activities via the 1-Click&reg; Resume. Get transparency into achievements of shortlisted candidates.</p>
                        </div>
                    </div>
                </div>

                {{!-- Step 3 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 3</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step08.svg" alt="an illustration of photographs of people">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Collaborate</h3>
                            <p>Annotate the 1-Click&reg; Resume of candidates to seamlessly collaborate on hiring decisions with your team members.</p>
                        </div>
                    </div>
                </div>

                {{!-- Step 4 --}}
                <div class="spages-grid-item">
                    <div class="spages-info-card">
                        <h5>Step 4</h5>
                        <div class="spages-info-card-image">
                            <img src="/assets/images/spages-info-blocks/partner/step07.svg" alt="an illustration of people video chatting on a laptop">
                        </div>
                        <div class="spages-info-card-content">
                            <h3>Contact</h3>
                            <p>Instantly contact candidates. Easily manage and maintain your list of candidates. Or import to your internal tracking system.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>

{{!-- Level Playing Field --}}
<section>
    <div class="spages-level-container">
        <div id="spages-level-field">
            <h3>The Level Playing Field</h3>
            <span>By STEM-Away&reg;</span>
            {{!-- <p class="spages-color-light-gray spages-w-50">STEM-Away&reg; is built to break down opportunity barriers,
                eliminate disadvantage and elevate talent in a rapidly changing world.</p> --}}
            <hr>
            <div>
                <h4 class="spages-color-green"><span class="spages-title-icon">{{ d-icon "user" }}</span>Democratizing
                    Opportunities</h4>
                <p class="spages-color-light-gray">A full-scale career hub for students to learn, participate, and prove their
                    value based on their merit and ability.</p>
            </div>
            <div>
                <h4 class="spages-color-green"><span class="spages-title-icon">{{ d-icon "chart-pie" }}</span>Optimizing the
                    STEM pipeline</h4>
                <p class="spages-color-light-gray">Eliminating the imbalance between those who are qualified for jobs and those
                    who are given access to these opportunities.</p>
            </div>
            <div>
                <h4 class="spages-color-green"><span class="spages-title-icon">{{ d-icon "wrench" }}</span>Proprietary novel
                    tools</h4>
                <p class="spages-color-light-gray">Leveling the playing field with hiring tools that address present
                    complications in recruiting for junior roles.</p>
            </div>
        </div>
        <div id="spages-level-illustration">
            <img src="/assets/images/spages-illustrations/level-field.png"
                alt="an illustration of a man standing on a stack of books grabbing a globe.">
        </div>
    </div>
</section>

{{!-- About Us Header --}}
<section class="spages-jumbotron-centered" id="team">
    <div>
        <div class="spages-align-center spages-text-adjust">
            <h1>About Us</h1>
            <p class="spages-w-65 spages-color-light-gray">A passion for STEM. Find out about our vision of a level playing
                field.</p>
        </div>
        <div>
            <ul class="spages-list-unstyled spages-social-icons">
                <li><a class="spages-tooltip" href="https://twitter.com/stemaway"><svg
                            class="fab d-icon d-icon-twitter svg-icon svg-node">
                            <use xlink:href="#fab-twitter"></use>
                        </svg><span class="spages-tooltip-text">Twitter</span></a></li>

                <li><a class="spages-tooltip" href="https://www.facebook.com/stemaway"><svg
                            class="fab d-icon d-icon-facebook svg-icon svg-node">
                            <use xlink:href="#fab-facebook"></use>
                        </svg><span class="spages-tooltip-text">Facebook</span></a>
                </li>

                <li><a class="spages-tooltip" href="https://www.instagram.com/stemaway/"><svg
                            class="fab d-icon d-icon-instagram svg-icon svg-node">
                            <use xlink:href="#fab-instagram"></use>
                        </svg><span class="spages-tooltip-text">Instagram</span></a>
                </li>

                <li><a class="spages-tooltip" href="https://www.youtube.com/channel/UCov7lwt_KqkZGGxs5BuQ8Dg"><svg
                            class="fab d-icon d-icon-youtube svg-icon svg-node">
                            <use xlink:href="#fab-youtube"></use>
                        </svg><span class="spages-tooltip-text">YouTube</span></a></li>

                <li><a class="spages-tooltip" href="https://www.linkedin.com/company/stemaway/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg><span class="spages-tooltip-text">LinkedIn</span></a></li>
            </ul>
        </div>
        <div class="spages-team-gallery-container">

            <div class="spages-gallery-col-1">
                <div class="spages-gallery-row-01">
                    <img class="spages-team-gallery-item spages-item-01-01" src="/assets/images/spages-team/team-01-01.jpg"
                        alt="Debaleena standing and tapping with a stylus on her tablet">
                </div>
            </div>

            <div class="spages-gallery-col-2">
                <div class="spages-gallery-row-01">
                    <img class="spages-team-gallery-item spages-item-02-01" src="/assets/images/spages-team/team-02-01.jpg"
                        alt="Debaleena and her associates smilling at the camera after winning a pitch">
                </div>
                <div class="spages-gallery-row-02">
                    <img class="spages-team-gallery-item spages-item-02-02" src="/assets/images/spages-team/team-02-02.jpg"
                        alt="A woman opening a door into the STEM-Away office">
                </div>
            </div>

            <div class="spages-gallery-col-3">
                <div class="spages-gallery-row-01">
                    <div class="spages-item-03-01">
                        <img class="spages-team-gallery-item" src="/assets/images/spages-team/team-03-01.jpg"
                            alt="Rear view of Debaleena using the computer to work">
                    </div>
                    <div class="spages-item-03-02">
                        <img class="spages-team-gallery-item" src="/assets/images/spages-team/team-04-01.jpg"
                            alt="Debaleena seated in conversation with an associate">
                    </div>
                </div>
                <div class="spages-gallery-row-02">
                    <div class="spages-item-04-01">
                        <img class="spages-team-gallery-item" src="/assets/images/spages-team/team-03-02.jpg"
                            alt="Debaleena listening to her associate speak while seated">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{!-- STEM-Away Experience --}}
<section class="spages-bgc-light-green spages-fluid" id="spages-stem-experience">
    <div class="spages-jumbotron-centered spages-align-center spages-text-adjust">
        <h2>We speak from experience</h2>
        <p class="spages-w-70 spages-color-dark-gray">When we talk about paving a way forward in STEM-Away&reg;, we speak from
            experience. Led by a team of industry experts, STEM-Away&reg; is the brainchild of Debaleena Das, PhD, a
            senior tech leader with mutiple patents and industry awards. </p>
    </div>
</section>

{{!-- Team Section --}}
<section id="spages-stem-staff">
    <div class="spages-jumbotron-centered spages-align-center spages-text-adjust">
        <h2>This is who we are</h2>
    </div>

    {{!-- Core Team --}}
    <div class="spages-team-gallery">
                
        {{!-- Debaleena's Card' --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/debaleena.jpg"
                alt="a headshop photograph of STEM-Away's CEO Debaleena Das.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Debaleena Das, PhD<a target="_blank"
                        href="https://www.linkedin.com/in/debaleenadas/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Founder &amp; CEO</h6>
                <p class="spages-card-description">Take the first step. Get your hands dirty, any problem is solvable
                    ......
                </p>
                <div class="spages-card-footer">

                </div>
            </div>
        </div>

        {{!-- Katie's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/katie.jpg"
                alt="a headshop photograph of STEM-Away's head of marketing, Katie.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Katie Elizabeth<a target="_blank"
                        href="https://www.linkedin.com/in/kekatie/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Marketing Strategy</h6>
                <p class="spages-card-description">Education is the most powerful weapon you can use to change the
                    world...</p>
            </div>
        </div>

        {{!-- Keegan's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/keegan.jpg"
                alt="a headshop photograph of STEM-Away's Full Stack Developer Keegan.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Keegan George<a target="_blank"
                        href="https://www.linkedin.com/in/keegan-george/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Full Stack Developer</h6>
                <p class="spages-card-description">The human mind is capable of creating amazing things...</p>
                <div class="spages-card-footer">

                </div>
            </div>
        </div>

        {{!-- Parminder Chhabra --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/parminder.jpg"
                alt="a headshop photograph of STEM-Away's product strategist Parminder..">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Parminder Chhabra<a target="_blank"
                        href="https://www.linkedin.com/in/parminderchhabra/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Product: Cloud</h6>
                <p class="spages-card-description">A bridge between students and companies, helping both sides...</p>
            </div>
        </div>

        {{!-- Mazhar's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/mazhar.jpg"
                alt="a headshop photograph of financial strategist Mazhar">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Mazhar Islam, PhD<a target="_blank"
                        href="https://www.linkedin.com/in/drmazharislam/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Financial Strategy</h6>
                <p class="spages-card-description">It is not enough to talk about "Lost Einsteins"...</p>
                <div class="spages-card-footer">

                </div>
            </div>
        </div>

        {{!-- Ilja Sarro --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/ilja.jpg" alt="a headshop photograph of multimedia producer Ilja.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Ilja Sarro<a target="_blank"
                        href="https://www.linkedin.com/in/isdesigns/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Multimedia Producer</h6>
                <p class="spages-card-description">IS Designs Studio. A passion for visual stories... </p>
            </div>
        </div>
    </div>

    {{!-- Mentors & Consultants --}}
    <div class="spages-team-gallery">
        {{!-- Benjamin's Card' --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/benjamin.jpg" alt="an image of Benjamin, one of STEM-Away's Mentors">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Benjamin Basseches<a target="_blank"
                        href="https://www.linkedin.com/in/benjamin-basseches-32b40338/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">UX &amp; UI Principal Mentor &amp; Consulatant</h6>
                <p class="spages-card-description">Experience Researcher and Human Factors Specialist</p>
            </div>
        </div>

        {{!-- Colin's Card' --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/colin.jpg" alt="an image of Colin, one of STEM-Away's Mentors">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Colin Magdamo<a target="_blank"
                        href="https://www.linkedin.com/in/colin-magdamo-795b00122/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Machine Learning Principal Mentor</h6>
                <p class="spages-card-description">Data Scientist at Mass General Hospital</p>
            </div>
        </div>

        {{!-- Ali Nehme's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/ali.jpg" alt="an image of Ali who is one of STEM-Away's Mentors">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Ali Nehme, PhD<a target="_blank"
                        href="https://www.linkedin.com/in/ali-nehme-2240716a/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Bioinformatics Principal Mentor</h6>
                <p class="spages-card-description">Bioinformatics Specialist and Scientific Writer</p>
            </div>
        </div>

        {{!-- James' Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/james.jpg" alt="a default image of a person">
            <div class="spages-card-body">
                <h4 class="spages-card-title">James Kiesel<a target="_blank"
                        href="https://www.linkedin.com/in/james-kiesel-97155194/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Full Stack Principal Mentor</h6>
                <p class="spages-card-description">Senior Software Engineer, Discourse Specialist</p>
            </div>
        </div>

        {{!-- Jay's Nehme's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/jay.jpg" alt="an image of Jay, one of STEM-Away's consultants for discourse">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Jay Pfaffman<a target="_blank"
                        href="https://www.linkedin.com/in/pfaffman/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Discourse Consultant</h6>
                <p class="spages-card-description">Discourse Expert, Hosting &amp; Management</p>
            </div>
        </div>

        {{!-- Anya Greenberg's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/anya.jpg" alt="an image of Anya a STEM-Away mentor">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Anya Greenberg<a target="_blank"
                        href="https://www.linkedin.com/in/anyagreenberg/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Mentor</h6>
                <p class="spages-card-description">Data Science Graduate with Expertise in Biology</p>
            </div>
        </div>

        {{!-- Sara El-Ateif's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/sara.jpg" alt="an image of sara a STEM-Away mentor">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Sara EL-ATEIF<a target="_blank"
                        href="https://www.linkedin.com/in/sara-el-ateif-b36694117/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Mentor</h6>
                <p class="spages-card-description">Machine Learning Engineer with Roots in Software Engineering</p>
            </div>
        </div>

        {{!-- Antony Georgiadis' Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/antony.jpg" alt="an image of Antony a STEM-Away user experience researcher">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Antony Georgiadis<a target="_blank"
                        href="https://www.linkedin.com/in/antony-georgiadis/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">UX Research</h6>
                <p class="spages-card-description">Enhancing the Student Expeirence</p>
            </div>
        </div>

        {{!-- Shreyas Pasumarthi's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/shreyas.jpg" alt="an image of Shreyas a STEM-Away user experience researcher">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Shreyas Pasumarthi<a target="_blank"
                        href="https://www.linkedin.com/in/shreyaspasumarthi/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Outreach Coordinator</h6>
                <p class="spages-card-description">Driving Student and College Outreach</p>
            </div>
        </div>


    </div>

    {{!-- Advisors --}}
    <div class="spages-team-gallery">
        {{!-- Michael's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/michael.jpg" alt="a headshop photograph of Michael.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Michael Greene<a target="_blank"
                        href="https://www.linkedin.com/in/vpmichaelgreene/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Advisor</h6>
                <p class="spages-card-description">Vice President of Software Development &amp; Business Strategy at Intel</p>
            </div>
        </div>

        {{!-- Mandy Pant's Card --}}
        <div class="spages-bgc-white spages-team-card">
            <img src="/assets/images/spages-team-profile/mandy.jpg" alt="a headshop photograph of Mandy.">
            <div class="spages-card-body">
                <h4 class="spages-card-title">Mandy Pant, PhD<a target="_blank"
                        href="https://www.linkedin.com/in/mandy-pant-8936502/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg></a></h4>
                <h6 class="spages-category">Advisor</h6>
                <p class="spages-card-description">Academic Research Director and Principal Engineer at Intel Corporation</p>

            </div>
        </div>

    </div>
</section>