{{!-- Company Header --}}
<section>
    <div class="spages-company-header">
        <div class="spages-ch-text-content">
            <div class="spages-company-heading">
            <h1>Want exclusive talent for your entry level STEM positions?</h1>
            </div>
            <ul class="spages-list-unstyled spages-social-icons-alt ">
                <li>
                    <a class="spages-btn-main" href="https://about.stemaway.com/contact">Contact Us</a>
                </li>
                {{!-- Twitter Icon --}}
                <li>
                    <a class="spages-tooltip" href="https://twitter.com/stemaway"><svg
                            class="fab d-icon d-icon-twitter svg-icon svg-node">
                            <use xlink:href="#fab-twitter"></use>
                        </svg><span class="spages-tooltip-text">Twitter</span>
                    </a>
                </li>
                {{!-- Facebook Icon --}}
                <li>
                    <a class="spages-tooltip" href="https://www.facebook.com/stemaway"><svg
                            class="fab d-icon d-icon-facebook svg-icon svg-node">
                            <use xlink:href="#fab-facebook"></use>
                        </svg><span class="spages-tooltip-text">Facebook</span>
                    </a>
                </li>
                {{!-- Linkedin Icon --}}
                <li>
                    <a class="spages-tooltip" href="https://www.linkedin.com/company/stemaway/"><svg
                            class="fab d-icon d-icon-linkedin svg-icon svg-node">
                            <use xlink:href="#fab-linkedin"></use>
                        </svg><span class="spages-tooltip-text">LinkedIn</span>
                    </a>
                </li>
            </ul>

            </div>
        <div class="spages-ch-image-portion">
            <img src="/assets/images/spages-company-portal-images/cp-header-image.png" alt="a screenshot of a portion of STEM-Away's Corporate Dashboard">
        </div>
    </div>

</section>

{{!-- Supporting Your Stem Hiring Needs Cards --}}
<section id="spages-stem-needs">
    <div class="spages-jumbotron-centered-sm">
        <div class="spages-header-portion spages-align-center spages-text-adjust">
            <h2>Supporting Your STEM Hiring Needs</h2>
            <p class="spages-w-65 spages-color-light-gray">We use human capital, AI tools and real-world experience to develop an exceptional STEM talent pool. Become a partner. Get access to our VIP Shortlists to hire the talent you need today.</p>
        </div>
        <div class="spages-card-portion">
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image-lg">
                    <img src="/assets/images/spages-illustrations/search-tools.svg" alt="a vector image of a resume being clicked with a cursor">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title">Search Tools</h6>
                    <p class="spages-card-content">
                        Providing critical transparency into candidate achievements.
                    </p>
                </div>
            </div>
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image-lg">
                    <img src="/assets/images/spages-illustrations/talent-pool.svg" alt="a vector image of a group of people">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title">Talent Pool</h6>
                    <p class="spages-card-content">
                        Offering work-ready future STEM leaders to energize your business.
                    </p>
                </div>
            </div>
            <div class="spages-card spages-card-effects">
                <div class="spages-card-image-lg">
                    <img src="/assets/images/spages-illustrations/brand-awareness.svg" alt="a vector image of a man looking at a world map">
                </div>
                <div class="spages-card-body">
                    <h6 class="spages-card-title">Brand Awareness</h6>
                    <p class="spages-card-content">
                        Increase brand awareness among the next STEM generation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Mentor Chains Projects --}}
<section class="spages-mentor-projects">
    <div class="spages-mentor-projects-description">
        <h2>Virtual Internships</h2>
        <p>A scalable virtual-internship platform to recruit junior talent. The internships are organized as Mentor Chains&reg; Projects. These projects prepare work-ready STEM talent that identifies with your company. Become a partner today. Create the pipeline you need.</p>
    </div>
    <div class="spages-mentor-projects-image">
        <img src="/assets/images/spages-illustrations/project-presentation.svg" alt="an illustration of a man and woman presenting a project.">
    </div>
</section>

{{!-- Process --}}
<section class="spages-align-center spages-text-adjust spages-companies-process spages-bgc-muted spages-fluid spages-jumbotron-for-fluid">
    <h2>Here is how companies will use STEM-Away&reg;</h2>
    <h5>The STEM-Away&reg; Solution</h5>
    <div class="spages-companies-card-set spages-card-portion">
        <div class="spages-card spages-company-process-card">
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step01.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Expand your talent search</h3>
                <p>Tap into an active talent pool from over 100 colleges. Use the STEM-Away&reg; tools to find the right candidate</p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step05.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Create the pipeline you need</h3>
                <p>Become a preferred partner. We will run virtual-internship projects aligned with your company needs. </p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/demoday.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Build<br>relationships</h3>
                <p>Attend invite-only virtual-internship demo days. Find talent. Build relationships with multiple colleges.</p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/marketing.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Boost brand awareness</h3>
                <p>Increase brand awareness among students. Benefit from talent that identifies with your company.</p>
            </div>
        </div>
    </div>
    <h5>The STEM-Away&reg; Hiring Portal</h5>
    <div class="spages-companies-card-set spages-card-portion">
        <div class="spages-card spages-company-process-card">
            <h5>Step 1</h5>
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step02.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Search</h3>
                <p>Use weighted-skills based search algorithms to find suitable candidates. Reduce bias, meet your <abbr title="Diversity, Equity, Inclusion">DEI</abbr> objectives.</p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <h5>Step 2</h5>
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step06.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Review</h3>
                <p>View skills &amp; supporting activities via the 1-Click&reg; Resume. Get transparency into achievements of shortlisted candidates.</p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <h5>Step 3</h5>
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step08.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Collaborate</h3>
                <p>Annotate the 1-Click&reg; Resume of candidates to seamlessly collaborate on hiring decisions with your team members.</p>
            </div>
        </div>
        <div class="spages-card spages-company-process-card">
            <h5>Step 4</h5>
            <img class="spages-card-image-lg" src="/assets/images/spages-info-blocks/partner/step07.svg" alt="">
            <div class="spages-card-push-btm">
                <h3>Contact</h3>
                <p>Instantly contact candidates. Easily manage and maintain your list of candidates. Or import to your internal <abbr title="Applicant Tracking System">ATS</abbr> system.</p>
            </div>
        </div>
    </div>
</section>

{{!-- Corp Dash Feature --}}
<section class="spages-corpdash-container spages-jumbotron-for-fluid">
    <div class="spages-corpdash-content">
        <h2>An Easy to use Corporate Dashboard</h2>
        <p>Filter out STEM talents based on location preferences, skills you require, and experience.</p>
    </div>
    <div class="spages-corpdash-image">
        <img src="/assets/images/spages-company-portal-images/dashboard-gallery.png" alt="a gallery of screenshots of STEM-Away's Corporate Dashboard'">
    </div>
</section>

{{!-- CTA --}}
<section class="spages-corp-cta">
    <div class="spages-corp-cta-content">
        <h3>Take the next step</h3>
        <h2>With STEM-Away&reg;</h2>
        <p>Contact us to find out more about how we can help your company.</p>
    </div>
    <div class='spages-cta-btn-section'>
        <a class="spages-btn-main" href="https://about.stemaway.com/contact">Contact Us</a>
    </div>
</section>